table, th, td {
    border: 2px solid #007000;
    border-collapse: collapse;
    font-family:verdana,sans-serif;
}

td {
    position: relative;
    padding: 5px 10px;
    background-color:#006000 ;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
}

body {background-color:#007000 ; color:white}
button{background-color: #80cf80; color:black; border-radius: 8px;}
